/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --primary-color: rgba(0, 100, 200);
  --primary-color-dark: rgb(10, 20, 150);
  --primary-color-light: rgb(30, 50, 200);
  --primary-color-light2: rgb(40, 80, 250);
  --secondary-color: rgb(0, 50, 150);
  --text-color: white;
  /* --font-family: 'Indie Flower', cursive; */
  --font-family: 'Jura', sans-serif;
  /* --font-family: 'PT Sans', sans-serif; */
  /* --font-family: 'Gemunu Libre', sans-serif; */
  /* --font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  --hover-effect: -0.06ex 0 currentColor, 0.06ex 0 currentColor;
}

* {
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color:  var(--primary-color);
  font-family: var(--font-family);
}

/**
 * Style scrool bar
 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--primary-color-dark); */
  background: var(--primary-color-light2);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-light);
}

select.hide-first-opiton option:first-child
{
  display: none;
}

.table-container
{
  overflow-y: auto;
  padding-bottom: 2px;
}

.button-normal
{
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--primary-color-dark);
  font-family: var(--font-family);
  padding: 6px 3px;
  border-radius: 5px;
}

#login{
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . container . ."
    ". session session session ."
    ". session session session ."
}

#login #container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid black;
  grid-area: container;
  box-shadow: 2px 2px 2px #111;
}

#login h1{
  /* font-size: 4ch; */
  font-size: 2em;
  margin: 15px;
  color: var(--text-color);
}

#login #container #input-container
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: 65ch; */
  width: 32em;
}

#login .login-input{
  background-color: var(--primary-color);
  color: var(--text-color);
  --close-font-size: 35px;
  --color-placeholder: rgba(200, 200, 200, 0.9);
  --inner-padding: 3px;
  font-size: 20px;
  margin-bottom: 1px;
}

#login button{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  margin: 1px;
  background-color: var(--primary-color-dark);
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
}

#login button:hover,
#login label:hover,
#login button:focus{
  filter: brightness(90%);
}

#login label{
  color: var(--text-color);
  cursor: pointer;
}

#login #spinner{
  display: none;
  margin-left: 5px;
}

#login #error{
  display: none;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #login{
    width: 100%;
    grid-template-areas:
    "container container container container container"
    "container container container container container"
    "container container container container container"
    "session session session session session"
    "session session session session session"
  }
  #login #container
  {
    width: 98%;
    margin: 1%;
    align-self: end;
  }

  #login #container div{
    width: 100%;
  }

  #login #container #input-container
  {
    width: 100%;
    box-sizing: border-box;
  }
}

#sessions{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  align-items: flex-start;
  grid-area: session;
  overflow: auto;
  align-content: flex-start;
  padding-top: 4px;
}

#sessions .login-session{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 1px 1px 0px #999;
  transition: all 0.1s ease-out;
}

#sessions .login-session:hover{
  transform: translateY(-2px);
  box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999;
}

#sessions .login-session:active{
  transform: translateY(-5px);
}

#sessions .session-data{
  padding: 5px;
  color: white;
  font-size: 20px;
}

#sessions .session-data:hover{

}

#sessions .session-erase{
  padding: 5px 2px;
  font-size: 40px;
  cursor: pointer;
}

#sessions .session-last-login{
  font-size: 15px;
}

#sessions .session-erase:hover{
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #sessions{
    width: 100%;
  }
}

#main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

#main-load-screen{
  display: none;
}

#main-main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  position: relative;
}

#main-main #main-side-menu{
  width: 0px;
  min-width: 0px;
  background-color: var(--primary-color-light);
  overflow: hidden;
  border-radius: 0px 15px 15px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  z-index: 10;
  transition: all 0.2s ease;
}

#main-main #main-side-menu.show-menu{
  width: 170px;
  min-width: 170px;
  box-shadow: 1px 1px 1px #000,
              2px 2px 2px #111;
  transition: all 0.2s ease;
}

#main-main #main-side-menu li{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 5px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  user-select: none;
}

#main-main #main-side-menu li .side-menu-icon{
  width: 20%;
  text-align: center;
}

#main-main #main-side-menu li .side-menu-text{
  width: 80%;
  text-align: center;
}

#main-main #main-side-menu li:hover{
  text-decoration: underline;
  font-weight: bold;
  background-color: var(--secondary-color);
}

#main-main #main-content{
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  #main-main #main-side-menu{
    position: fixed;
  }
}

#main #header{
  background-color: var(--primary-color-dark);
  padding: 3px 5px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-size: 18px;
}

#main #header #title{
  font-weight: bold;
  cursor: pointer;
}

#main #header #title:after{
  content: 'Agro Telemetry';
}

#main #header div{
  font-size: inherit;
}

#main #header #menu{
  justify-self: start;
  display: flex;
  align-items: center;
  gap: 2px;
}

#main #header #title{
  justify-self: center;
}

#main #header #options{
  justify-self: end;
  z-index: 20;
}

#main #header #options *{
  vertical-align: middle;
  transform: translateY(-1px);
}

#main #search-bar{
  background-color: var(--primary-color-dark);
  color: var(--text-color);
  --icon-color: var(--text-color);
  --close-font-size: 35px;
  --color-placeholder: rgba(200, 200, 200, 0.9);
  --inner-padding: 0px 2px;
  font-size: inherit;
  /* max-height: 32px; */
  height: 25px;
  width: 2.5ch;
  transition: width 0.5s ease-out;
  border: none;
}

#main #search-bar:hover,
#main #search-bar:focus-within{
  background-color: var(--primary-color);
  width: 32ch;
}

#main #header #options *,
#main #header #menu *{
  cursor: pointer;
}

#main #header #options{
  border: 1px solid white;
  border-radius: 16px;
  padding: 2px 7px 2px 1px;
}

#main #header svg
{
  transition: all 0.1s ease-out;
}

/* #main #header .icon-hover:hover */
#main #header .drop-menu:focus .icon-menu svg,
#main #header .icon-menu svg:hover
{
  /* transform: translateY(4px); */
  background-color: var(--text-color);
  color: var(--primary-color-dark);
  border-radius: 10px;
  padding: 1px;
}

#main #search-bar svg:hover{
  transform: none;
}

#main #header #options .drop-menu-content{
    z-index: 13;
}

@media only screen and (max-width: 600px) {
  #main #search-bar{
    display: none;
  }

  #main #header{
    font-size: 25px;
  }

  #main #header #title:after{
    content: 'AT';
  }
}

#main #notify-switch-container
{
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 4px;
  padding: 0px 3px;
  transition: all 0.1s ease-out;
}

#main #notify-switch-container:hover
{
  background-color: var(--text-color);
  color: var(--primary-color-dark);
  border-radius: 10px;
}

#main #notify-switch-container:hover svg
{
  color: var(--primary-color-dark);
}

#main #notify-switch-container[checked] #notify-label
{
  color: white;
}

#main #notify-switch-container[disabled] #notify-label
{
  color: grey;
}

#main #notify-switch
{
  --height-switch: 21px;
  --width-switch: 31px;
  --bg-checked: var(--primary-color);
  --bg-unchecked: grey;
  --color-ball: white;
}

#main #notify-switch[disabled]
{
  --color-ball: lightgrey;
}

#main #notify-enable
{
  padding: 0px 3px;  /* this padding is to make the enable width equal to disabled */
  display: none;
}

#main #notify-disabled
{
  display: inline-block;
}

#main #notify-enable[disabled]
{
  display: none;
}

#main #notify-enable[checked]
{
  display: inline-block;
}

#main #notify-disabled[disabled]
{
  display: inline-block;
  color: grey;
}

#main #notify-disabled[disabled] svg
{
  transform: none;
}

#main #notify-disabled[checked]
{
  display: none;
}


#main #header #options .drop-menu{
  position: relative;
  outline: none;
}

#main #header #options .drop-menu .drop-menu-content{
  left: auto;
  right: -5px;
  transform: translateY(3px);
}

#main #header #options .drop-menu .drop-menu-content{
  display: none;
  position: absolute;
  /* positining at center */
  /* left: 50%;
  right: auto;
  text-align: center !important;
  transform: translateY(3px) translate(-50%, 0); */
  /* Styling */
  background-color: var(--primary-color-light);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  overflow: hidden;
  min-width: 200px;
}

#main #header #options .drop-menu-content p
{
  padding: 5px;
  background-color: var(--primary-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main #header #options .drop-menu .drop-menu-content p:hover
{
  text-decoration: underline;
}

/**
 * Using focus (with html:tabindex=0) just active the menu at clicling
 */
#main #header #options .drop-menu:focus .drop-menu-content
{
  display: block;
}

#main #header #options .icon-hover{
  padding: 2px;
}

#main #header #options .icon-hover:hover{
  background-color: var(--text-color);
  color: var(--primary-color-dark);
  border-radius: 15px;
}

#main #header #options .drop-menu-item-text
{
  width: 100%;
  text-align: center;
  user-select: none;
}

#main-content #admin-portal-main
{
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px;
  height: 100%;
}

#main-content #admin-portal-main h1
{
  margin: 5px;
  font-size: 22px;
  max-height: 22px;
}

#main-content #admin-portal-main table
{
  border-radius: 5px;
  overflow:hidden;
  background-color: var(--primary-color-dark);
}

#main-content #admin-portal-main table,
#main-content #admin-portal-main tr,
#main-content #admin-portal-main td,
#main-content #admin-portal-main th{
  border: 1px solid black;
  border-collapse: collapse;
}

#main-content #admin-portal-main th
{
  background-color: var(--primary-color-light);
  font-weight: bold;
}

#main-content #admin-portal-main tr,
#main-content #admin-portal-main td,
#main-content #admin-portal-main th
{
  padding: 5px;
}

#main-content #admin-portal-main tbody tr:hover
{
  /* text-decoration: underline; */
}

#main-content #admin-portal-main .delete-data
{
  padding: 0px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#main-content #admin-portal-main #admin-user-tbody tr:hover td:not(.delete-data)
{
  /* font-weight: bold; */
  text-shadow: var(--hover-effect);
  cursor: pointer;
}

#main-content #admin-portal-main #admin-user-tbody tr td.delete-data:hover
{
  /* font-weight: bold; */
  text-shadow: var(--hover-effect);
  text-decoration: underline;
}

#main-content #admin-portal-main .admin-add-new
{
  cursor: pointer;
}

#main-content #sensor-type-main
{
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px;
  height: 100%;
  flex-direction: column;
}

#main-content #sensor-type-main h1
{
  margin: 5px;
  font-size: 22px;
  max-height: 22px;
}

#main-content #sensor-type-main table
{
  border-radius: 5px;
  overflow:hidden;
  background-color: var(--primary-color-dark);
}

#main-content #sensor-type-main table,
#main-content #sensor-type-main tr,
#main-content #sensor-type-main td,
#main-content #sensor-type-main th{
  border: 1px solid black;
  border-collapse: collapse;
}

#main-content #sensor-type-main th
{
  background-color: var(--primary-color-light);
  font-weight: bold;
}

#main-content #sensor-type-main tr,
#main-content #sensor-type-main td,
#main-content #sensor-type-main th
{
  padding: 5px;
}

#main-content #sensor-type-main tbody tr td
{
  cursor: pointer;
}

#main-content #sensor-type-main tbody tr:hover
{
  text-shadow: var(--hover-effect);
}

#main-content #sensor-type-main .delete-data
{
  padding: 0px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

#main-content #sensor-type-main #sensor-type-tbody tr td.delete-data:hover
{
  text-shadow: var(--hover-effect);
  text-decoration: underline;
}

#main-content #sensor-type-main #sensor-type-tbody tr td.edit-data:hover
{
  transform: translateY(2px);
}

#main-content #sensor-type-main .sensor-type-add-new-button
{
  cursor: pointer;
}

/*
 */
#sensor-type-popup-container .input-line
{
  display: flex;
}

#sensor-type-popup-container .input-line .sensor-type-short
{
  flex: 2 5 50px;
}

#sensor-type-popup-container .input-line .sensor-type-long
{
  flex: 5 1 100px;
}

#sensor-type-popup-container fieldset
{
  padding: 3px;
  width: 100%;
}

#sensor-type-popup-container .sensor-type-unit-type
{
  width: fit-content;
}

#sensor-type-popup-container label
{
  cursor: pointer;
}

#sensor-type-popup-container .sensor-type-description
{
  width: 100%;
  padding: 3px;
  border: none;
  background: inherit;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  max-height: 6ch;
  overflow-y: auto;
  box-sizing: border-box;
}

/**
 * add
 */
#sensor-type-popup-container.sensor-type-add-new .popup-title:after
{
  content: 'Add Sensor';
}

#sensor-type-popup-container.sensor-type-add-new #option-yes::after
{
  content: 'Add';
}

#sensor-type-popup-container.sensor-type-add-new #option-cancel::after
{
  content: 'Cancel';
}

/**
 * Edit
 */
 #sensor-type-popup-container.sensor-type-edit-new .popup-title:after
 {
   content: 'Edit Sensor';
 }

 #sensor-type-popup-container.sensor-type-edit-new #option-yes::after
 {
   content: 'Edit';
 }

 #sensor-type-popup-container.sensor-type-edit-new #option-cancel::after
 {
   content: 'Cancel';
 }

 /**
  * Show
  */
  #sensor-type-popup-container.sensor-type-show-new .popup-title:after
  {
    content: 'Sensor';
  }

  #sensor-type-popup-container.sensor-type-show-new #option-yes
  {
    display: none;
  }

  #sensor-type-popup-container.sensor-type-show-new #option-cancel::after
  {
    content: 'Close';
  }

  #sensor-type-popup-container.sensor-type-show-new label
  {
    pointer-events: none;
  }

.popup-modal
{
  --inner-width: 50%;
}

.popup-container
{
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 3px solid black;
  box-shadow: 1px 1px 1px #000,
                2px 2px 2px #111,
                3px 3px 3px #111,
                4px 4px 4px #111;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 200px;
  width: 100%
}

.popup-container .popup-header
{
  font-weight: bold;
  font-size: 3ch;
  text-align: center;
  display: flex;
  width: 100%;
}

.popup-container .popup-header .popup-title{
  width: 100%;
}

.popup-container .popup-content
{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2.0ch;
  justify-content: space-around;
  gap: 10px;
}

.popup-container .popup-content .popup-error
{
  background-color: rgba(255, 0, 0, 0.8);
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 3px;
  font-weight: bold;
}

.popup-container .popup-content .popup-error:empty
{
    display:none;
}

.popup-container .popup-content .popup-content-text
{
  text-align: center;
  line-height: 3ch;
}

.popup-container .popup-content .popup-content-text div
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.popup-container .popup-content .popup-option-container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup-container .popup-content .popup-option-container .popup-option
{
  width: 100%;
  border-radius: 10px;
  min-height: 50px;
  cursor: pointer;
  background-color: var(--primary-color-dark);
  color: var(--text-color);
  font-size: 2.0ch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px #000,
                2px 2px 2px #111;
  transform: translateY(0px);
  transition: all 0.1s ease-out;
}

.popup-container .popup-content .popup-option-container .popup-option:hover
{
  /* font-weight: bold; */
  text-shadow: var(--hover-effect);
}

.popup-container .popup-content .popup-option-container .popup-option:active
{
  transform: translateY(2px);
}

.popup-container .popup-content .add-input
{
  width: 100%;
  margin-bottom: 2px;
  background-color: var(--secondary-color);
}

.popup-container .popup-content select{
  padding: 5px;
  font-size: 17px;
  border-radius: 5px;
  background: var(--secondary-color);
  color: white;
  font-family: var(--font-family);
  border: 1px solid black;
  outline: none;
  width: 100%;
}

.popup-container .popup-content fieldset
{
  border: 1px solid white;
  border-radius: 10px;
  width: 48%;
  align-self: baseline;
}

.popup-container .popup-content #policy-action
{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
}

.popup-container .popup-content #policy-action label
{
  cursor: pointer;
}

.popup-container .popup-content #input-policy-options
{
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
}

.popup-container .popup-content #group-user-fieldset
{
  width: 100%;
}

.popup-container .popup-content #group-user-fieldset #add-user-group-list label
{
  white-space: nowrap;
}

.popup-container .popup-content #group-user-fieldset #group-user-list
{
  padding: 3px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.popup-container .popup-content #group-user-fieldset .group-user-check
{
  cursor: pointer;
}

.popup-container .popup-content #group-user-fieldset .group-user-check:hover
{
  /* font-weight: bold; */
  text-shadow: var(--hover-effect);
}

@media only screen and (max-width: 600px) {
  .popup-modal{
    --inner-width: 98%;
  }
}

.main-container{
  position: relative;
  height: 100%;
  padding: 5px 5px 0px 5px;
}

.main-container h1
{
  margin: 5px;
  font-size: 22px;
  max-height: 22px;
}

.main-container table
{
  border-radius: 5px;
  overflow:hidden;
  background-color: var(--primary-color-dark);
}

.main-container table,
.main-container tr,
.main-container td,
.main-container th{
  border: 1px solid black;
  border-collapse: collapse;
}

.main-container th
{
  background-color: var(--primary-color-light);
  font-weight: bold;
}

.main-container tr,
.main-container td,
.main-container th
{
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

.main-container tr:hover td{
  text-shadow: var(--hover-effect);
}

#main #main-main #detail-container
{
  position: absolute;
  right: 0;
  height: 98%;
  background-color: var(--primary-color-light);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 0%;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-radius: 15px 0px 0px 15px;
  z-index: 11;
}

#main #main-main #detail-container.show-container{
  width: 50%;
  transition: all 0.2s ease-out;
  padding: 10px 0px 10px 10px;
  box-shadow: -1px 1px 1px #000,
              -2px 2px 2px #111;
}

#main #main-main #detail-container .detail-close
{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 50px;
  color: var(--text-color);
  transform: translateY(-15px);
  cursor: pointer;
  z-index: 100;
}

#main #main-main #detail-container .detail-close:hover{
  text-shadow: var(--hover-effect);
}

#main #main-main #detail-container #detail-content{
  overflow: auto;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #main #main-main #detail-container.show-container{
    width: 100%;
  }
}

#device-container{

}

#device-container #device-main-container{
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

#device-container #device-main-container tbody td{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#device-container #device-main-container tbody tr[data-connected='false']{
  color: rgb(150, 150, 150);
}

#net-container #net-container-list
{
  display: flex;
  flex-wrap: wrap;
}

#net-container label{
  cursor: pointer;
}
#net-container label:hover
{
  text-decoration: underline;
}

#net-container #net-container-list div
{
  padding: 5px;
}

#net-container #net-container-list div h2
{
  text-align: center;
  padding: 2px;
}

#net-container #net-container-list td[data-device],
#net-container #net-container-list td span[data-device]
{
  cursor: pointer;
}

#net-container #net-container-list #net-devices-tree
{
  table-layout: fixed;
}

#net-container #net-container-list #net-devices-tree td{
  word-wrap: break-word;
  max-width: 20ch;
}

#net-container #net-container-list tbody td[data-device]:hover,
#net-container #net-container-list tbody td span[data-device]:hover
{
  text-decoration: underline;
}

#detail-container #detail-content h1.detail-title
{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.detail-content{
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.detail-content h2{
  font-size: 22px;
  text-decoration: underline;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color-dark);
  padding: 5px;
}

.image-app-detail .detail-content detail-line
{
  padding: 3px;
}

.image-app-detail .detail-content .detail-edit-description
{
  cursor: pointer;
}

.image-app-detail .detail-content .detail-line-description h2
{
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
}

.image-app-detail .detail-content .detail-line-description:hover
{
  background-color: var(--primary-color);
}

.image-app-detail .detail-content .detail-description
{
  display: block;
  padding: 5px;
  border-radius: 10px;
  outline: none;
}

.image-app-detail .detail-content .detail-description[contenteditable="true"]
{
  background: var(--primary-color);
}

.detail-content .detail-name-container
{
  width: 100%;
  display: flex;
}

.detail-content .detail-name-container .detail-name{
  width: 100%;
  outline: none;
}

.detail-content .detail-name-container .detail-edit-name
{
  cursor: pointer;
}

.detail-content .detail-device-commands[data-disabled='true'] button
{
  cursor: not-allowed;
  border-style: unset;
}

.detail-content .detail-device-commands[data-disabled='true'] button:hover
{
  font-weight: normal;
}

.detail-content .detail-device-commands[data-disabled='true'] button:active
{
  transform: none;
}

.detail-content .detail-device-commands[data-disabled='false'] .detail-device-command-force
{
  display: none;
}

.detail-content .detail-device-commands[data-disabled='true'] .detail-device-command-force
{
  cursor: pointer;
}

#main-device-description
{
  display: flex;
  flex-direction: column;
}

#main-device-description h1
{
  text-align: center;
  font-weight: bold;
}

#main-device-description .detail-title
{
  display: flex;
}

#main-device-description .detail-title .device-title
{
  width: 100%;
}

#main-device-description .detail-title .device-notify
{
  cursor: pointer;
}

#main-device-description .detail-content
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  align-items: flex-start;
}

#main-device-description .detail-content expand-menu
{
  width: 49%;
  min-width: 300px;
}

#main-device-description .detail-content expand-menu detail-line.description-sensor
{
  cursor: pointer;
}

#main-device-description .detail-content expand-menu detail-line.description-sensor:hover
{
  background-color: var(--primary-color-light);
  font-weight: bold;
}

#main-device-description .detail-content expand-menu.detail-device-commands,
#main-device-description .detail-content expand-menu.detail-device-graph
{
  width: 100%;
}

#main-device-description .detail-content expand-menu.detail-device-commands .device-command-list-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

#main-device-description .detail-content expand-menu.detail-device-commands detail-command
{
  max-width: 48%;
}

@media only screen and (max-width: 600px) {
  #main-device-description .detail-content expand-menu
  {
    width: 100%;
  }

  #main-device-description .detail-content expand-menu.detail-device-commands detail-command
  {
    max-width: 100%;
  }
}

/**
 *
 */
.description-sensor-content:empty::after{
  content: 'No sensor data received yet';
}

.detail-device-graph-container:empty::after{
  content: 'No sensor data received yet';
}

#net-container #net-container-tree
{
  display: block;
  width: 100%;
  min-width: 600px;
  /* height: 300px; */
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 15px;
}

.node circle {
  fill: #fff;
  stroke: darkgrey;
  stroke-width: 2px;
}

.node circle:hover {
  filter: brightness(110%);
}

.node text
{
  font-size: 14px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link text
{
  stroke: black;
  stroke-width: 1px;
  font-size: 16px;
}

.node circle.node--daemon{
  fill: grey;
}

.node circle.node--router{
  fill: green;
}

.node circle.node--root{
  fill: lightgrey;
  cursor: pointer;
}

.node circle.node--non-root{
  cursor: pointer;
}

#image-container{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#image-container #image-header
{
  display: flex;
  gap: 15px;
}

#image-container .image-upload-container
{
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  margin: 5px 0px;
}

#image-container .image-upload-container:hover{
  font-weight: bold;
}

#image-container .image-upload-container svg
{
  font-size: 100%;
}

#image-container .image-upload-name
{
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#image-container #main-image-tbody tr:hover
{
  cursor: pointer;
}

#image-container #main-image-tbody td.image-download:hover
{
  transform: translateY(2px);
}

#image-container #main-image-tbody td.image-close
{
  font-size: 25px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
}

#image-container #main-image-tbody td.image-close:hover
{
  text-decoration: underline;
}

#app-container{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#app-container #app-header
{
  display: flex;
  gap: 15px;
}

#app-container .app-upload-container
{
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  margin: 5px 0px;
}

#app-container .app-upload-container:hover{
  font-weight: bold;
}

#app-container .app-upload-container svg
{
  font-size: 100%;
}

#app-container .app-upload-name
{
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#app-container #main-app-tbody tr:hover
{
  cursor: pointer;
}

#app-container #main-app-tbody td.app-download:hover
{
  transform: translateY(2px);
}

#app-container #main-app-tbody td.app-close
{
  font-size: 25px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
}

#app-container #main-app-tbody td.app-close:hover
{
  text-decoration: underline;
}

.temperature-graph-path{
  stroke: green !important;
}

.temperature-graph-dot{
  stroke: green !important;
  fill: green !important;
}

.detail-device-graph-output{
  /* padding-bottom: 110px !important; */
}

.output-graph-path{
  stroke: brown !important;
}

.output-graph-dot{
  stroke: brown !important;
  fill: brown !important;
}

.detail-device-graph-input{
  /* padding-bottom: 110px !important; */
}

.input-graph-path{
  stroke: orange !important;
}

.input-graph-dot{
  stroke: orange !important;
  fill: orange !important;
}

#sensor-description-popup
{
  --min-inner-width: 90%;
  --inner-height: 90%;
}

#sensor-description-popup #sensor-description-content
{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#sensor-description-popup #sensor-description-content .close
{
  top: 5px;
  right: 15px;
  font-size: 35px;
  position: absolute;
  cursor: pointer;
}

#sensor-description-popup #sensor-description-content .close:hover
{
  font-weight: bold;
}

#sensor-description-content .popup-title
{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#sensor-description-content .sensor-data-container
{
  display: flex;
  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  gap: 2px;
}

#sensor-description-content .inner-container
{
  height: 100%;
  overflow: hidden;
}

#sensor-description-content .outer-table
{
  /* height: 100%; */
  overflow-y: auto;
  flex: 4 0 auto;
}

/*
 *
 */
#sensor-description-content .sensor-data-container .sensor-graph
{
  width: 100%;
  flex: 4 1 auto;
  align-self: center;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

/*
 * Table
 */
#sensor-description-content .sensor-data-container table
{
  border-radius: 5px;
  overflow: hidden;
}

#sensor-description-content .sensor-data-container table,
#sensor-description-content .sensor-data-container tr,
#sensor-description-content .sensor-data-container th,
#sensor-description-content .sensor-data-container td
{
  border-collapse: collapse;
  border: 1px solid black;
}

#sensor-description-content .sensor-data-container th,
#sensor-description-content .sensor-data-container td
{
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

#sensor-description-content .sensor-data-container th
{
  background-color: var(--primary-color-light);
  font-weight: bold;
}

#sensor-description-content .sensor-data-container td{
  background-color: var(--primary-color-dark);
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  #sensor-description-popup
  {
    --min-inner-width: 98%;
    --inner-height: 98%;
  }

  #sensor-description-content .sensor-data-container
  {
    flex-direction: column-reverse;
    justify-content: flex-end;
    overflow: auto;
  }

  #sensor-description-content .sensor-data-container .outer-table
  {
    flex: 4 0 200px;
  }
  #sensor-description-content .sensor-data-container table
  {
    width: 100%;
    height: 100%;
  }

  #sensor-description-content .sensor-data-container .sensor-graph
  {
    flex: none;
    height: fit-content;
    max-height: 60%;
  }
}

#notification-container label
{
  cursor: pointer;
}

#notification-container #notification-content label
{
  display: block;
}

#notification-container #notification-content label:hover
{
  /* box-shadow: var(--hover-effect); */
  font-weight: bold;
}

#notification-container #notification-status
{
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: fit-content;
  border-radius: 5px;
  font-weight: bold;
}

#notification-container #notification-status.enabled
{
  background-color: rgba(0, 200, 0, 0.8);
}

#notification-container #notification-status.disabled
{
  background-color: rgba(200, 200, 0, 0.8);
}

#notification-container #notification-status.not-supported
{
  background-color: rgba(200, 0, 0, 0.8);
}

.pop-modal-notify
{
  --inner-height: 90%;
}


.device-notify-popup
{
  max-height: 90%;
  overflow: auto;
}

.device-notify-popup .popup-content
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.device-notify-popup .popup-content fieldset
{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.device-notify-popup .popup-content label
{
  cursor: pointer;
}

.device-notify-popup .popup-content label:hover
{
  font-weight: bold;
}

.device-notify-popup fieldset.notify-device
{
  flex: 0 4 180px;
}

.device-notify-popup fieldset.notify-sensor
{
  width: 100%;
  align-self: flex-start;
  flex: 0 4 200px;
}

.device-notify-popup .notify-sensor .add-notify-sensor
{
  cursor: pointer;
}

.device-notify-popup .notify-sensor .notify-sensor-list sensor-notify
{
  padding-bottom: 2px;
}

.device-notify-popup .notify-sensor .notify-sensor-list:empty::after
{
  content: 'No sensor notify set';
}

.device-notify-popup .notify-footer
{
  display: flex;
  justify-content: flex-end;
}

.detail-device-commands detail-command
{
  height: fit-content;
  padding: 2px;
  border: 2px solid #222;
  box-shadow: 1px 1px 1px #222,
              2px 2px 2px #444,
              3px 3px 3px #666;
}

.detail-command button
{
  cursor: pointer;
  width: 100%;
  color: var(--text-color);
  background-color: var(--primary-color-dark);
  font-family: var(--font-family);
  padding: 6px 3px;
}

.detail-command button:hover
{
   font-weight: bold;
}

.detail-command button:active
{
  transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  #main-device-description expand-menu.detail-device-commands detail-command{
    width: 100%;
  }
}

/**
 * AC load commands
*/
.detail-content detail-command.detail-ac-load-container
{
  min-width: 300px;
  width: fit-content;
}

.detail-content .detail-ac-load
{
  display: flex;
  gap: 3px;
  justify-content: space-between;
  /* width: 100%;   */
}

/**
 * Packets
*/
detail-command#detail-packet
{
  min-width: 120px;
  width: 120px;
}

#detail-packet array-command.detail-command
{
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #detail-packet array-command.detail-command{
    flex-direction: row;
  }
}

#detail-time
{
  width: 325px;
  font-size: 18px;
}

.detail-command.detail-command-time
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-command.detail-command-time .detail-time-value-container
{
  width: 100%;
  display: flex;
  padding-bottom: 6px;
}

.detail-command.detail-command-time .detail-time-value
{
  flex-grow: 4;
}

.detail-command.detail-command-time .detail-time-switch
{
  cursor: pointer;
}

.detail-command.detail-command-time .detail-time-switch:hover
{
  font-weight: bold;
}

.detail-command.detail-command-time .detail-time-command-container
{
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.detail-command.detail-command-time .detail-time-index
{
  font-weight: bold;
}

#detail-ota{
  font-size: 18px;
  width: 290px;
}

#detail-ota .detail-command{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#detail-ota .detail-command button{
  width: fit-content;
  padding: 6px 6px;
}

#detail-ota .detail-select-ota-image
{
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-family-light);
  cursor: pointer;
  outline: none;
  flex-grow: 4;
  width: 100%;
}

#detail-ota .detail-select-ota-image:first-child
{
  display: none;
}

#detail-ota .detail-select-ota-image option
{
  font-size: 20px;
}

#detail-ota .detail-select-ota-image option:first-child
{
  display: none;
}

#detail-system{
  font-size: 18px;
  width: 350px;
}

#detail-system .detail-command
{
  flex-direction: column;
}

#detail-system .detail-command .inner-command{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

#detail-system .detail-command .inner-command .inner-value{
  width: 100%;
  flex-grow: 4;
}

#detail-system .detail-command .inner-command .inner-value-uptime{
  display: flex;
}

#detail-system .detail-command .inner-command .detail-uptime{
  flex-grow: 4;
}

#detail-system .detail-command .inner-command .detail-uptime-switch{
  cursor: pointer;
}

#detail-system .detail-command .inner-command button{
  flex-shrink: 2;
}

#detail-custom{
  font-size: 15px;
}

#detail-custom .detail-command{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
}

#detail-custom .detail-command .inner-command{
  display: flex;
  gap: 1px;
  width: 100%;
  align-items: center;
}

#detail-custom .detail-command .inner-command option:first-child{
  display: none;
}

#detail-custom .detail-command .inner-command div{
  flex-grow: 1;
}

#detail-custom .detail-command select{
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-family-light);
  cursor: pointer;
  outline: none;
  flex-grow: 4;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid black;
}

#detail-custom .detail-command input{
  padding: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-family-light);
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

#detail-custom .detail-command binary-data{

}

#detail-custom .detail-command button{
  border-radius: 5px;
  align-self: flex-end;
  width: fit-content;
}

.custom-response-modal{
  --inner-width: 60%;
  --min-inner-width: 500px;
  color: var(--text-color);
  --inner-height: 90%;
}

.custom-response-modal h1{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.custom-response-container
{
  background-color: var(--primary-color);
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 1px 1px 1px #000,
              2px 2px 2px #222,
              3px 3px 3px #444;
  padding: 5px;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
}

.custom-response-container .custom-response-responses
{
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  min-height: 50px;
}

.custom-response-container .custom-response-responses hr
{
  border-color: #999;
}

.custom-response-container .custom-response-responses .custom-response-header
{
  margin-bottom: 2px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 2px;
}

@media only screen and (max-width: 600px) {
  .custom-response-modal{
    --inner-width: 98%;
    --min-inner-width: 0px;
  }
}

#report-history-container
{
  --inner-width: 60%;
  --max-inner-width: 60%;
}

#report-history-container h1
{
  text-align: center;
  font-size: 25px;
}

#report-history-content
{
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 3px solid black;
  box-shadow: 1px 1px 1px #000,
                2px 2px 2px #111,
                3px 3px 3px #111,
                4px 4px 4px #111;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 500px;
  width: 100%;
  max-height: 70vh;
}

#report-history-content #report-history-table-container
{
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}

#report-history-content table
{
  width: 100%;
  border-radius: 5px;
}

#report-history-content table thead th
{
  position: sticky;
  top: 0;
}

#report-history-content #report-history-table-container table tbody td:nth-child(2),
#report-history-content #report-history-table-container table thead th:nth-child(2)
{
  display: none;
}

#report-history-content tr,
#report-history-content td,
#report-history-content th
{
  border: 1px solid black;
  padding: 4px;
}

#report-history-content th
{
  background-color: var(--primary-color-dark);
}

#report-history-content td
{
  background-color: var(--primary-color-light);
}

#report-history-content thead tr th:last-child
{
  width: 100%;
}

#report-history-container tbody tr:hover
{
  /* font-weight: bold; */
  text-shadow: var(--hover-effect);
}

#report-history-container .report-error td,
#report-pop.report-error
{
  background-color: rgb(200, 0, 0);
}

#report-history-container .report-warning td,
#report-pop.report-warning
{
  background-color: rgb(180, 180, 0);
}

#report-history-container .report-success td,
#report-pop.report-success
{
  background-color: rgb(0, 180, 0);
}

#report-history-container .report-info td,
#report-pop.report-info
{
  background-color: rgb(0, 0, 180);
}

#report-pop{
  opacity: 0.9;
}

#report-pop:hover{
  opacity: 1;
  text-shadow: var(--hover-effect);
}

/**
 * pop
 */
#report-pop
{
  text-align: center;
  position: fixed;
  bottom: 20px;
  z-index: 1004;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
  overflow: hidden;
}

#report-pop div
{
  display: inline-flex;
  min-width: 50%;
  align-items: center;
  gap: 5px;
}

#report-pop #report-pop-text
{
  vertical-align: middle;
}

#report-pop #report-pop-close
{
  vertical-align: middle;
  font-size: 35px;
  cursor: pointer;
}

#report-pop #report-pop-close:hover
{
  /* font-weight: bold; */
  text-shadow: var(--hover-effect);
}

@media only screen and (max-width: 768px) {
  #report-history-container
  {
    --inner-width: 98%;
    --max-inner-width: 98%;
  }

  #report-pop
  {
    margin: 0 2%;
  }
}

/**
 *
 */
 #report-history-container .report-switch-line
 {
   cursor: pointer;
   filter: brightness(90%);
 }

 #report-history-container #report-history-switch-container
 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 20px;
 }

 #report-history-container .report-switch-line
 {
   display: inline-flex;
   align-items: flex-end;
   gap: 4px;
 }

 #report-history-container .report-switch-line check-switch
 {
   --width-switch: 35px;
   --height-switch: 25px;
 }

.shine{
  position: relative;
  overflow: hidden;
}

/**
 * Generate a shine effect
 */
.shine:after{
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  pointer-events: none;
  /* transform: rotate(30deg); */

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.shine-active:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}


.file-input{
  position:fixed;
  top:-100em;
  opacity:0;
}

/**
 * https://stackoverflow.com/a/25978286
 * About response SVG
 */
.chart-line-graph
{
  padding: 1px;

  display: inline-block;
  position: relative;
  width: 100%;
}

.chart-line-graph svg
{
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 15px;
  color: black;

  display: inline-block;
}

.chart-line-graph svg .line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.chart-line-graph svg .line-brush {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.chart-line-graph svg .circle {
  fill: red;
  stroke: red;
}

.chart-line-graph .tooltip {
  position: absolute;
  text-align: center;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: black;
  z-index: 100;
  top: 0; /* make it start at top positiion, not incresing container */
}

.chart-line-graph .label{
  font-weight: bold;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

